<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="pe.edu.upc.gamarraapp">

    <dist:module dist:instant="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".GamarraApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        <activity
                android:name=".controllers.activities.ShopsActivity"
                android:label="@string/title_activity_shops"
                android:parentActivityName=".controllers.activities.BusinessDetailActivity"
                android:theme="@style/NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="pe.edu.upc.gamarraapp.controllers.activities.BusinessDetailActivity"/>
        </activity>
        <activity
                android:name=".controllers.activities.BusinessEditorActivity"
                android:label="@string/title_activity_business_editor"
                android:parentActivityName=".controllers.activities.BusinessesActivity"
                android:theme="@style/NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="pe.edu.upc.gamarraapp.controllers.activities.BusinessesActivity"/>
        </activity>
        <activity
                android:name=".controllers.activities.BusinessDetailActivity"
                android:label="@string/title_activity_business_detail"
                android:parentActivityName=".controllers.activities.BusinessesActivity"
                android:theme="@style/NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="pe.edu.upc.gamarraapp.controllers.activities.BusinessesActivity"/>
        </activity>
        <activity
                android:name=".controllers.activities.BusinessRegisterActivity"
                android:label="@string/title_activity_business_register"
                android:parentActivityName=".controllers.activities.BusinessesActivity"
                android:theme="@style/NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="pe.edu.upc.gamarraapp.controllers.activities.BusinessesActivity"/>
        </activity>
        <activity
                android:name=".controllers.activities.BusinessesActivity"
                android:label="@string/title_activity_businesses"
                android:parentActivityName=".controllers.activities.MainActivity"
                android:theme="@style/NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="pe.edu.upc.gamarraapp.controllers.activities.MainActivity"/>
        </activity>
        <activity android:name=".controllers.activities.ClothActivity">
        </activity>
        <activity android:name=".controllers.activities.SearchClothesActivity">
        </activity>
        <activity
                android:name=".controllers.activities.MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/searchable"/>
        </activity>
    </application>

</manifest>